<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luis Medina's Random Image Gallery</title>
    {{ bootstrap.load_css() }}
</head>
<body>
    <div class="container mt-5">
        <h1>Pwned Password</h1>
        <form method="POST" action="/submit">
            <div class="mb-3">
                <label for="password" class="form-label">Enter Password:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>
